<!-- extend base layout --> {% extends "base.html" %}  {% block content %}

{% include 'example_info.html' %}

{%  set form_index = 0 %}
{%  set user_name_index = 0 %}
{%  set first_name_index = 1 %}
{%  set last_name_index = 2 %}
{%  set user_email_index = 3 %}
{%  set esign_profile_index = 4 %}
{%  set clm_profile_index = 5 %}
{%  set group_index = 6 %}

<form class="eg" action="" method="post" data-busy="form">
    {% if 'FormName' in example['Forms'][form_index] %}
        <p>{{ example['Forms'][form_index]['FormName'] | safe }}</p>
    {% endif %}

    <div class="form-group">
        <label for="user_name">{{ example['Forms'][form_index]['Inputs'][user_name_index]['InputName'] }}</label>
        <input type="text" class="form-control" id="user_name" name="user_name" required>
    </div>
    <div class="form-group">
        <label for="first_name">{{ example['Forms'][form_index]['Inputs'][first_name_index]['InputName'] }}</label>
        <input type="text" class="form-control" id="first_name" name="first_name" required>
    </div>
    <div class="form-group">
        <label for="last_name">{{ example['Forms'][form_index]['Inputs'][last_name_index]['InputName'] }}</label>
        <input type="text" class="form-control" id="last_name" name="last_name" required>
    </div>
    <div class="form-group">
        <label for="email">{{ example['Forms'][form_index]['Inputs'][user_email_index]['InputName'] }}</label>
        <input type="email" class="form-control" id="email" name="email"
            aria-describedby="emailHelp" required>
        <small id="emailHelp" class="form-text text-muted">We will never share your email with anyone else.</small>
    </div>
    {% if esign_permission_profiles_list %}
    <div class="form-group">
        <label for="esign_permission_profile">{{ example['Forms'][form_index]['Inputs'][esign_profile_index]['InputName'] }}</label>
        <select class="form-control" id="esign_permission_profile" name="esign_permission_profile">
            {% for profile in esign_permission_profiles_list %}
                <option value="{{profile}}">{{profile}}</option>
            {% endfor %}
        </select>
    </div>
    {% else %}
        <p>Problem: Please first create an eSignature permission profile.
        </br>Thank you.</p>
    {% endif %}
    {% if clm_permission_profiles_list %}
    <div class="form-group">
        <label for="clm_permission_profile">{{ example['Forms'][form_index]['Inputs'][clm_profile_index]['InputName'] }}</label>
        <select class="form-control" id="clm_permission_profile" name="clm_permission_profile">
            {% for profile in clm_permission_profiles_list %}
                <option value="{{profile}}">{{profile}}</option>
            {% endfor %}
        </select>
    </div>
    {% else %}
        <p>Problem: Please first create a CLM permission profile.
        </br>Thank you.</p>
    {% endif %}
    {% if ds_groups %}
    <div class="form-group">
        <label for="ds_group">{{ example['Forms'][form_index]['Inputs'][group_index]['InputName'] }}</label>
        <select class="form-control" id="ds_group" name="ds_group">
            {% for group in ds_groups %}
                <option value={{group["ds_group_id"]}}>{{group["group_name"]}}</option>
            {% endfor %}
        </select>
    </div>
    {% else %}
        <p>Problem: Please first create a DocuSign Admin group.
        </br>Thank you.</p>
    {% endif %}


    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% include 'continue_button.html' %}
</form>
  
{% endblock %}
