<!-- extend base layout --> {% extends "base.html" %}  {% block content %}

{% include 'example_info.html' %}

{%  set form_index = 0 %}
{%  set product_index = 0 %}
{%  set esign_permission_index = 1 %}
{%  set clm_permission_index = 2 %}
{%  set redirect_to2_index = 0 %}

{% if email_ok %}
    <form class="eg" action="" method="post" data-busy="form">
        {% if 'FormName' in example['Forms'][form_index] %}
            <p>{{ example['Forms'][form_index]['FormName'].format(email) | safe }}</p>
        {% endif %}

        <div class="form-group">
            <label for="product">{{ example['Forms'][form_index]['Inputs'][product_index]['InputName'] }}</label>
            <select class="form-control" id="product" name="product">
                {% for product in product_list %}
                    {% if product.product_name == "CLM" %}
                        <option value="{{product.product_id}}" selected="selected">{{product.product_name}}</option>
                    {% else %}
                        <option value="{{product.product_id}}">{{product.product_name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        {% if esign_permission_profiles_list %}
        <div class="form-group" id="esign-profiles" style="display: none">
            <label for="esign_permission_profile">{{ example['Forms'][form_index]['Inputs'][esign_permission_index]['InputName'] }}</label>
            <select class="form-control" id="esign_permission_profile" name="esign_permission_profile">
                {% for profile in esign_permission_profiles_list %}
                    <option value="{{profile.permission_profile_id}}">{{profile.permission_profile_name}}</option>
                {% endfor %}
            </select>
        </div>
        {% else %}
            <p>Problem: Please first create an eSignature permission profile.
            </br>Thank you.</p>
        {% endif %}

        {% if clm_permission_profiles_list %}
        <div class="form-group" id="clm-profiles">
            <label for="clm_permission_profile">{{ example['Forms'][form_index]['Inputs'][clm_permission_index]['InputName'] }}</label>
            <select class="form-control" id="clm_permission_profile" name="clm_permission_profile">
                {% for profile in clm_permission_profiles_list %}
                    <option value="{{profile.permission_profile_id}}">{{profile.permission_profile_name}}</option>
                {% endfor %}
            </select>
        </div>
        {% else %}
            <p>Problem: Please first create a CLM permission profile.
            </br>Thank you.</p>
        {% endif %}

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% include 'continue_button.html' %}
    </form>

    {% block javascript %}
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function () {
            $("#product").on("change", function () {
                if($("#product option:selected" ).text() === "CLM"){
                    $("#esign-profiles").css("display", "none")
                    $("#clm-profiles").css("display", "block")
                } else {
                    $("#esign-profiles").css("display", "block")
                    $("#clm-profiles").css("display", "none")
                }
            });
        });
        </script>
    {% endblock %}
{% else %}
    {{ example['RedirectsToOtherCodeExamples'][redirect_to2_index]['RedirectText'].format('href="eg002"') | safe }}

    <form class="eg" action="eg002" method="get">
        {% include 'continue_button.html' %}
    </form>
{% endif %}
{% endblock %}
