<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <div>
    <div class="jumbotron jumbotron-fluid"> <table>
      <tbody>
      <tr>
      <td>
        <h1 class="display-4">Python Launcher</h1>
      <p class="Xlead">Welcome to the Python code examples for DocuSign Admin API with JWT Grant authentication</p>
      </td>
      <td>
          <img src="/static/assets/banner-code.png" />
      </td>
    </tr>
    </tbody>
    </table>
  </div>

    <div class="container" style="margin-top: 40px" id="index-page">
        
        {% if show_doc %}
            <p><a target='_blank' href='{{ documentation | safe }}'>Documentation</a> on using JWT from a Python Flask application.</p>
        {% endif %}

        <h2>Admin API Code Examples</h2>
            <h4 id="example001">1. <a href="eg001">Create a new user</a></h4>
            <p>Demonstrates how to create a new user with active status</p>

            <p>API method used: 
              <a target='_blank' href="https://developers.docusign.com/docs/admin-api/reference/users/users/createuser/">Users::createUser</a>.
           </p>

        <h2>Bulk-export user data</h2>
           <h4 id="example002">2. <a href="eg002">bulk-export user data</a></h4>
           <p>Demonstrates how to bulk-export user accounts within an organization into a CSV (comma separated value) file.</p>

           <p>API method used: 
             <a target='_blank' href="https://developers.docusign.com/docs/admin-api/reference/bulkoperations/userexport/createuserlistexport/">UserExport:createUserListExport</a>.
          </p>

        <h2>Add users via bulk import</h2>
          <h4 id="example003">3. <a href="eg003">Add users via bulk import</a></h4>
          <p>Demonstrates how to bulk-import users and add user data from an example CSV (comma-separated value) file into a DocuSign Admin organization</p>

          <p>API method used: 
            <a target='_blank' href="https://developers.docusign.com/docs/admin-api/reference/bulkoperations/userimport/addbulkuserimport/">UserImport:addBulkUserImport</a>.
         </p>
    </div>
  </div>

    <!-- anchor-js is only for the index page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>
    <script>anchors.options.placement = 'left'; anchors.add('h4')</script>

{% endblock %}
