<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <div>
    <div class="jumbotron jumbotron-fluid"> <table>
      <tbody>
      <tr>
      <td>
        <h1 class="display-4">Python Launcher</h1>
      <p class="Xlead">Run and explore Monitor API code examples with JWT Grant authentication</p>
      </td>
      <td>
          <img src="/static/assets/banner-code.png" />
      </td>
    </tr>
    </tbody>
    </table>
  </div>

    <div class="container" style="margin-top: 40px" id="index-page">
        
        {% if show_doc %}
            <p><a target='_blank' href='{{ documentation | safe }}'>Documentation</a> on using JWT from a Python Flask application.</p>
        {% endif %}

      
            {% for group in manifest['Groups'] -%}
            <h2>{{ group["Name"] }}</h2>

            {% for example in group["Examples"] -%}
                {% if SkipLanguages not in example or "python" not in example["SkipLanguages"] %}
                    <h4
                        id="{{ 'example' + '0' * (3 - example['ExampleNumber'] | string() | length ) + example['ExampleNumber'] | string() }}"
                    >
                        <a
                            href="{{ 'eg' + '0' * (3 - example['ExampleNumber'] | string() | length ) + example['ExampleNumber'] | string() }}">{{ example["ExampleName"] }}
                        </a>
                    </h4>

                    <p>{{ example["ExampleDescription"] | safe }}</p>

                    {% if example["LinksToAPIMethod"] | length > 1 %}
                        {{ session["manifest"]["SupportingTexts"]["APIMethodUsedPlural"] | safe }}
                    {% else %}
                        {{ session["manifest"]["SupportingTexts"]["APIMethodUsed"] | safe }}
                    {% endif %}

                    {% for link in example["LinksToAPIMethod"] -%}
                        <a target='_blank' href="{{ link['Path'] }}">{{ link['PathName'] }}</a>
                    {% endfor %}

                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
  </div>

    <!-- anchor-js is only for the index page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>
    <script>anchors.options.placement = 'left'; anchors.add('h4')</script>

{% endblock %}
