<!-- extend base layout --> {% extends "base.html" %}  {% block content %}

{% include 'example_info.html' %}

{%  set signer1_form_index = 0 %}
{%  set signer2_form_index = 1 %}
{%  set signer_email_index = 0 %}
{%  set signer_name_index = 1 %}

<form class="eg" action="" method="post" data-busy="form">
    {% if 'FormName' in example['Forms'][signer1_form_index] %}
        <h5>{{ example['Forms'][signer1_form_index]['FormName'] | safe }}</h5>
    {% endif %}
    <div class="form-group">
     <label for="signer1_email">{{ example['Forms'][signer1_form_index]['Inputs'][signer_email_index]['InputName'] }}</label>
     <input type="email" class="form-control" id="signer1_email" name="signer1_email"
        aria-describedby="emailHelp" placeholder="{{ example['Forms'][signer1_form_index]['Inputs'][signer_email_index]['InputPlaceholder'] }}" required
        value="{{ signer1_email }}" />
     <small id="emailHelp" class="form-text text-muted">{{ session['manifest']['SupportingTexts']['HelpingTexts']['EmailWontBeShared'] | safe}}</small>
    </div>
    <div class="form-group">
    <label for="signer1_name">{{ example['Forms'][signer1_form_index]['Inputs'][signer_name_index]['InputName'] }}</label>
    <input type="text" class="form-control" id="signer1_name" placeholder="{{ example['Forms'][signer1_form_index]['Inputs'][signer_name_index]['InputPlaceholder'] }}" name="signer1_name"
         value="{{ signer1_name }}" required />
    <br/>
    </div>
    {% if 'FormName' in example['Forms'][signer2_form_index] %}
        <h5>{{ example['Forms'][signer2_form_index]['FormName'] | safe }}</h5>
    {% endif %}
    <div class="form-group">
      <label for="signer2_email">{{ example['Forms'][signer2_form_index]['Inputs'][signer_email_index]['InputName'] }}</label>
      <input type="email" class="form-control" id="signer2_email" name="signer2_email"
             aria-describedby="emailHelp" placeholder="{{ example['Forms'][signer2_form_index]['Inputs'][signer_email_index]['InputPlaceholder'] }}" required />
      <small id="emailHelp" class="form-text text-muted">The email for the second recipient must be different from the signer's email.</small>
    </div>
    <div class="form-group">
      <label for="signer2_name">{{ example['Forms'][signer2_form_index]['Inputs'][signer_name_index]['InputName'] }}</label>
      <input type="text" class="form-control" id="signer2_name" placeholder="{{ example['Forms'][signer2_form_index]['Inputs'][signer_name_index]['InputPlaceholder'] }}" name="signer2_name"
             required />
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% include 'submit_button.html' %}
  </form>
  
{% endblock %}
