<!-- extend base layout --> {% extends "base.html" %}  {% block content %}

{% include 'example_info.html' %}

{%  set recipient_form_index = 0 %}
{%  set signer_email_index = 0 %}
{%  set signer_name_index = 1 %}
{%  set cc_email_index = 2 %}
{%  set cc_name_index = 3 %}
{%  set redirect_to32_index = 0 %}

{% if envelope_ok %}
<form class="eg" action="" method="post" data-busy="form">
    {% if 'FormName' in example['Forms'][recipient_form_index] %}
        <p>{{ example['Forms'][recipient_form_index]['FormName'] | safe }}</p>
    {% endif %}

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% include 'continue_button.html' %}
</form>

{% else %}
    {{ example['RedirectsToOtherCodeExamples'][redirect_to32_index]['RedirectText'].format('href="eg032"') | safe }}

<form class="eg" action="eg032" method="get">
    {% include 'continue_button.html' %}
</form>
{% endif %}

{% endblock %}
