<!-- extend base layout --> {% extends "base.html" %}  {% block content %}

<h4>{{ title }}</h4>
<p>{{ example["ExampleDescription"] | safe }}</p>
<p>{{ session["manifest"]["SupportingTexts"]["HelpingTexts"]["EnvelopeWillBeRestored"].format(envelope_id) | safe }}</p>

{%  set form_index = 0 %}
{%  set folder_name_index = 1 %}

<form class="eg" action="" method="post" data-busy="form">
    {% if 'FormName' in example['Forms'][form_index] %}
      <p>{{ example['Forms'][form_index]['FormName'] | safe }}</p>
    {% endif %}

    <div class="form-group">
      <label for="folder_name">{{ example['Forms'][form_index]['Inputs'][folder_name_index]['InputName'] }}</label>
      <input type="text" class="form-control" id="folder_name" name="folder_name"
             placeholder="{{ example['Forms'][form_index]['Inputs'][folder_name_index]['InputPlaceholder'] }}" required/>
    </div>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% include 'submit_button.html' %}
  </form>
  
{% endblock %}
