astroid==2.3.3
certifi==2019.9.11
cffi==1.14.3
chardet==3.0.4
Click
cryptography==3.3.2
docusign-esign==3.14.0
docusign-rooms==1.1.0
docusign-monitor==1.0.0
docusign-click==1.0.0
docusign-admin==1.0.0b0
Flask==1.1.1
Flask-OAuthlib==0.9.6
flask-wtf==0.14.3
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2>=2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
oauthlib==2.1.0
pipenv==2018.11.26
py-oauth2==0.0.10
pycparser==2.19
pylint==2.4.4
python-dateutil==2.8.1
requests>=2.22.0
requests-oauthlib==1.1.0
six==1.13.0
urllib3>=1.26.5
virtualenv==16.7.5
virtualenv-clone==0.5.3
Werkzeug==0.16.0
wrapt==1.11.2

