<!-- extend base layout --> {% extends "base.html" %}  {% block content %}

{% include 'example_info.html' %}

{%  set form_index = 0 %}
{%  set start_index = 0 %}
{%  set end_name_index = 1 %}

<form class="eg" action="" method="post" data-busy="form">
    {% if 'FormName' in example['Forms'][form_index] %}
        <p>{{ example['Forms'][form_index]['FormName'] | safe }}</p>
    {% endif %}

    <div class="form-group">
        <label for="start_date">{{ example['Forms'][form_index]['Inputs'][start_index]['InputName'] }}</label>
        <input type="date" class="form-control" id="start_date" name="start_date" value="{{start_date}}" required>
    </div>
    <div class="form-group">
        <label for="end_date">{{ example['Forms'][form_index]['Inputs'][end_name_index]['InputName'] }}</label>
        <input type="date" class="form-control" id="end_date" name="end_date" value="{{end_date}}" required>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% include 'continue_button.html' %}
</form>
  
{% endblock %}
