<!-- extend base layout --> {% extends "base.html" %}  {% block content %}

<div class="container">

    {% include 'example_info.html' %}
    {%  set form_index = 1 %}
    {%  set room_form_index = 0 %}
    {%  set room_id_index = 0 %}
    {%  set form_id_index = 0 %}
    {%  set redirect_to4_index = 0 %}
    {%  set redirect_to1_index = 1 %}
    
        {% if rooms %}
            <form class="eg" action="/forms" method="post" data-busy="form">
                <div class="form-group">
                <label for="room_id">{{ example['Forms'][form_index]['Inputs'][room_id_index]['InputName'] }}</label>
                    <select class="form-control" id="room_id" name="room_id">
                        {% for room in rooms %}
                            <option value="{{ room.room_id }}">{{ room.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type="submit" class="btn btn-docu">Get forms</button>
             </form>
        {% elif room_name and forms %}
            <form class="eg" action="reg006" method="post" data-busy="form">
                <label for="room_name">{{ example['Forms'][form_index]['Inputs'][room_id_index]['InputName'] }}</label>
                <input type="text" class="form-control" id="room_name" name="room_name" value="{{ room_name }}" readonly><br/>
                <input type="hidden" class="form-control" name="room_id" value="{{ room_id }}" readonly>
                <div class="form-group">
                    <label for="form_id">{{ example['Forms'][room_form_index]['Inputs'][form_id_index]['InputName'] }}</label>
                        <select class="form-control" id="form_id" name="form_id">
                            {% for form in forms %}
                                <option value="{{ form.docu_sign_form_id }}">{{ form.name }}</option>
                            {% endfor %}
                        </select>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {% include 'submit_button.html' %}
            </form>
        {% elif room_name and not forms %}
            {{ example['RedirectsToOtherCodeExamples'][redirect_to4_index]['RedirectText'].format('href="reg004"') | safe }}
        {% else %}
          {{ example['RedirectsToOtherCodeExamples'][redirect_to1_index]['RedirectText'].format('href="reg001"') | safe }}
        {% endif %}
    
    </div>
    {% endblock %}
    