<!-- extend base layout --> {% extends "base.html" %}  {% block content %}
<h4>3. Testing a clickwrap</h4>
<p>This example demonstrates how to use Clickwrap Tester to preview a
    newly created and activated clickwrap to make sure it appears and
    behaves the way you want before you embed it in your website or app.
</p>

{% if show_doc %}
<p><a target='_blank' href='{{ documentation | safe }}'>Documentation</a>
    about this example.</p>
{% endif %}

<p>
    View source file <a target="_blank" href="{{ source_url | safe }}">{{
    source_file }}</a> on GitHub.
</p>

{% if clickwrap_ok %}
<p>The clickwrap you created and activated via examples 1 and 2 will be queried.</p>

<form class="eg" action="{{ clickwrap_test_url }}" method="post" target="_blank">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-docu">Test Clickwrap</button>
</form>

{% else %}
<p>Problem: please first create a clickwrap using <a href="eg001">example 1</a>
    and activate it using <a href="eg002">example 2.</a><br/>Thank you.</p>

<form class="eg" action="eg001" method="get">
    <button type="submit" class="btn btn-docu">Continue</button>
</form>
{% endif %}

{% endblock %}
