<!-- extend base layout --> {% extends "base.html" %}  {% block content %}

<div class="container">

<h4>3. Create a new clickwrap version</h4>
<p>
    Creates a new version of a clickwrap.
</p>
<p>
    You can specify whether you require users who have previously accepted the clickwrap 
    to accept the new version when they return to your website.
</p>

{% include 'documentation.html' %}

<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/createclickwrapversion/">ClickWraps::createClickwrapVersion</a>
</p>

{% include 'github_source.html' %}

{% if clickwraps_data['clickwraps'] is undefined %}
<p class="">
    Problem: You do not have clickwraps to activate. Go to example#1 and create one: <a
        href="{{ app_url ~ 'index.php?page=' }}ceg001">create clickwrap.</a> <br/>
</p>
{% else %}

<form class="eg" action="" method="post" data-busy="form-download">
    <div class="form-group">
        <label for="clickwrap_id">Clickwrap</label>
        <select class="custom-select" id="clickwrap_id"
                name="clickwrap_id">
            {% for clickwrap in clickwraps_data['clickwraps'] %}
            <option value="{{ clickwrap['clickwrap_id'] }}">{{ clickwrap['clickwrap_name'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="clickwrap_name">New Name</label>
        <input type="text" class="form-control" id="clickwrap_name" name="clickwrap_name" required/>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-docu">Submit</button>
</form>
{% endif %}

</div>

{% endblock %}
