<!-- extend base layout --> {% extends "base.html" %}  {% block content %}

<div class="container" style="margin-top: 40px; margin-left: 300px">

<h4>2. Activating a clickwrap</h4>
<p>Activates a new clickwrap that you have already created. By default, new clickwraps are <br>
    inactive. You must activate your clickwrap before you can use it.</p>

{% include 'documentation.html' %}

<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/updateclickwrapversion">ClickWraps::updateClickwrapVersion</a>
</p>

{% include 'github_source.html' %}

{% if clickwrap_ok %}
<p>The clickwrap you created via example 1 will be queried.</p>

<form class="eg" action="" method="post" data-busy="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-docu">Continue</button>
</form>

{% else %}
<p>Problem: please first create a clickwrap using <a href="eg001">example
    1.</a><br/>Thank you.</p>

<form class="eg" action="eg001" method="get">
    <button type="submit" class="btn btn-docu">Continue</button>
</form>
{% endif %}

</div>

{% endblock %}
