<!-- extend base layout --> {% extends "base.html" %}  {% block content %}

<div class="container">

{% include 'example_info.html' %}

{%  set form_index = 0 %}
{%  set click_id_index = 0 %}
{%  set click_name_index = 1 %}
{%  set redirect_to1_index = 0 %}

{% if clickwraps_data['clickwraps'][0] is undefined %}
    {{ example['RedirectsToOtherCodeExamples'][redirect_to1_index]['RedirectText'].format('href="eg001"') | safe }}
{% else %}

<form class="eg" action="" method="post" data-busy="form-download">
    {% if 'FormName' in example['Forms'][form_index] %}
        <p>{{ example['Forms'][form_index]['FormName'] | safe }}</p>
    {% endif %}

    <div class="form-group">
        <label for="clickwrap_id">{{ example['Forms'][form_index]['Inputs'][click_id_index]['InputName'] }}</label>
        <select class="custom-select" id="clickwrap_id"
                name="clickwrap_id">
            {% for clickwrap in clickwraps_data['clickwraps'] %}
            <option value="{{ clickwrap['clickwrap_id'] }}">{{ clickwrap['clickwrap_name'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="clickwrap_name">{{ example['Forms'][form_index]['Inputs'][click_name_index]['InputName'] }}</label>
        <input type="text" class="form-control" id="clickwrap_name" name="clickwrap_name" required/>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% include 'submit_button.html' %}
</form>
{% endif %}

</div>

{% endblock %}
