<!-- extend base layout --> {% extends "base.html" %}  {% block content %}

{% include 'example_info.html' %}

{%  set form_index = 0 %}
{%  set user_name_index = 0 %}
{%  set first_name_index = 1 %}
{%  set last_name_index = 2 %}
{%  set user_email_index = 3 %}
{%  set profile_index = 4 %}
{%  set group_index = 5 %}

<form class="eg" action="" method="post" data-busy="form">
    {% if 'FormName' in example['Forms'][form_index] %}
        <p>{{ example['Forms'][form_index]['FormName'] | safe }}</p>
    {% endif %}

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-group">
        <label for="user_name">{{ example['Forms'][form_index]['Inputs'][user_name_index]['InputName'] }}</label>
        <input type="text" class="form-control" id="user_name" name="user_name" required>
    </div>
    <div class="form-group">
        <label for="first_name">{{ example['Forms'][form_index]['Inputs'][first_name_index]['InputName'] }}</label>
        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="{{ example['Forms'][form_index]['Inputs'][first_name_index]['InputPlaceholder'] }}" required>
    </div>
    <div class="form-group">
        <label for="last_name">{{ example['Forms'][form_index]['Inputs'][last_name_index]['InputName'] }}</label>
        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="{{ example['Forms'][form_index]['Inputs'][last_name_index]['InputPlaceholder'] }}" required>
    </div>
    <div class="form-group">
        <label for="user_email">{{ example['Forms'][form_index]['Inputs'][user_email_index]['InputName'] }}</label>
        <input type="email" class="form-control" id="user_email" name="user_email" placeholder="{{ example['Forms'][form_index]['Inputs'][user_email_index]['InputPlaceholder'] }}" required>
        <small id="accessHelp" class="form-text text-muted">This email address must use the same domain that has been claimed by your organization.</small>
    </div>
    {% if permission_profiles %}
    <div class="form-group">
        <label for="profile_id">{{ example['Forms'][form_index]['Inputs'][profile_index]['InputName'] }}</label>
        <select class="form-control" id="profile_id" name="profile_id">
            {% for profile in permission_profiles %}
            <option value={{profile["permission_profile_id"]}}>{{profile["permission_profile_name"]}}</option>
            {% endfor %}
        </select>
    </div>
    {% else %}
        <p>Problem: Please first create an eSignature permission profile.
        </br>Thank you.</p>
    {% endif %}
    {% if groups %}
    <div class="form-group">
        <label for="group_id">{{ example['Forms'][form_index]['Inputs'][group_index]['InputName'] }}</label>
        <select class="form-control" id="group_id" name="group_id">
            {% for group in groups %}
                <option value={{group["group_id"]}}>{{group["group_name"]}}</option>
            {% endfor %}
        </select>
    </div>
    {% else %}
        <p>Problem: Please first create a DocuSign group.
        </br>Thank you.</p>
    {% endif %}
    {% include 'continue_button.html' %}
</form>
  
{% endblock %}
