<!-- extend base layout --> {% extends "base.html" %}
{% block content %}

<div class="container" style="margin-top: 40px; margin-left: -10px">
<h4>1. Creating a form group</h4>
<p>This example demonstrates creating a DocuSign Form Group.</p>
{% if show_doc %}
  <p><a target='_blank' href='{{ documentation | safe }}'>Documentation</a> about this example.</p>
{% endif %}

<p>API methods used:
   <a target ='_blank' href="https://developers.docusign.com/docs/rooms-api/how-to/create-form-group/">Rooms::CreateFormGroup</a>
</p>

<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
      <label for="form_group_name">Form Group Name</label>
      <input type="text" class="form-control" id="form_group_name"
             name="form_group_name" required>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-docu">Submit</button>
  </form>

</div>

{% endblock %}
