<!-- extend base layout --> {% extends "base.html" %}
{% block content %}

<div class="container" style="margin-top: 40px; margin-left: 300px">
<h4>8. Grant office access to a form group</h4>
<p>This example demonstrates how to grant Office access to a Form Group.</p>

{% if show_doc %}
  <p><a target='_blank' href='{{ documentation | safe }}'>Documentation</a> about this example.</p>
{% endif %}

<p>API methods used:
    <a target ='_blank' href="https://developers.docusign.com/docs/rooms-api/how-to/access-form-group/">Rooms::AccessFormGroup</a>,
    <a target ='_blank' href="https://developers.docusign.com/docs/rooms-api/reference/forms/formgroups/getformgroups/">FormGroups::GetFormGroups</a> and
    <a target ='_blank' href="https://developers.docusign.com/docs/rooms-api/reference/offices/offices/getoffices/">Offices::GetOffices</a>
</p>

<form class="eg" action="" method="post" data-busy="form">
    {% if form_groups %}
    <div class="form-group">
        <label for="office_id">Office</label>
            <select class="form-control" id="office_id" name="office_id">
                {% for office in offices %}
                    <option value="{{ office.office_id }}">{{ office.name }}</option>
                {% endfor %}
            </select>
        <label for="form_group_id">FormGroup</label>
            <select class="form-control" id="form_group_id" name="form_group_id">
                {% for form_group in form_groups %}
                <option value="{{ form_group.form_group_id }}">{{ form_group.name }}</option>
                {% endfor %}
            </select>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-docu">Submit</button>
    {% else %}
      <p>Problem: please first create a form_group using <a href="eg007">example 7</a>
          </br>Thank you.</p>
    {% endif %}
  </form>

</div>
{% endblock %}
