<!-- extend base layout -->
{% extends "base.html" %}
{% set title = "Error" %}
{% block content %}

<div class="container">

<h2>Error</h2>

{% if error_code == 'FORMS_INTEGRATION_NOT_ENABLED' %}
  <p>{{ error_code }}: Please contact your DocuSign Account Manager or Business Development representative to enable Forms for this account.</p>
{% else %}
  {% if error_code %}
    <p>{{ error_code }}: {{ error_message }}</p>
  {% else %}
    <p><pre>{{ err }}</pre></p>
  {% endif %}
{% endif %}


<p><a href="/">Continue</a></p>

</div>
  
{% endblock %}
