<!-- extend base layout --> {% extends "base.html" %}  {% block content %}

{% include 'example_info.html' %}

{%  set form_index = 0 %}
{%  set document_index = 0 %}
{%  set redirect_to2_index = 0 %}
{%  set redirect_to6_index = 1 %}

{% if not envelope_ok %}
  {{ example['RedirectsToOtherCodeExamples'][redirect_to2_index]['RedirectText'].format('href="eg002"') | safe }}
    
 <form class="eg" action="eg002" method="get">
     {% include 'continue_button.html' %}
 </form>
{%  elif not documents_ok %}
  {{ example['RedirectsToOtherCodeExamples'][redirect_to6_index]['RedirectText'].format('href="eg006"') | safe }}
    
 <form class="eg" action="eg006" method="get">
     {% include 'continue_button.html' %}
 </form>
{% else %}
  <form class="eg" action="" method="post" data-busy="form-download">
    {% if 'FormName' in example['Forms'][form_index] %}
        <p>{{ example['Forms'][form_index]['FormName'] | safe }}</p>
    {% endif %}

    <div class="form-group">
        <label for="docSelect">{{ example['Forms'][form_index]['Inputs'][document_index]['InputName'] }}</label>
        <select class="custom-select" id="document_id"
          name="document_id" aria-describedby="emailHelp">
        {% for opt in document_options %}
          <option value="{{ opt.document_id | safe }}">{{ opt.text }}</option>
        {% endfor %}
        </select>
    </div>  
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% include 'continue_button.html' %}
  </form>
{% endif %}

{% endblock %}
