<!-- extend base layout --> {% extends "base.html" %}  {% block content %}

{% include 'example_info.html' %}

{%  set form_index = 0 %}
{%  set starting_view_index = 0 %}
{%  set redirect_to2_index = 0 %}

{% if not envelope_ok %}
    {{ example['RedirectsToOtherCodeExamples'][redirect_to2_index]['RedirectText'].format('href="eg002"') | safe }}
{% endif %}

<form class="eg" action="" method="post" data-busy="form">
    {% if 'FormName' in example['Forms'][form_index] %}
        <p>{{ example['Forms'][form_index]['FormName'] | safe }}</p>
    {% endif %}

    <div class="form-group">
        <label for="starting_view">{{ example['Forms'][form_index]['Inputs'][starting_view_index]['InputName'] }}</label>
        <select id="starting_view" name="starting_view" class="form-control">
                <option value="front_page" selected>Front page</option>
                <option value="envelope" {% if not envelope_ok %}disabled="true"{% endif %} >
                    The envelope's documents view</option>
        </select>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% include 'continue_button.html' %}
</form>
  
{% endblock %}
