<!-- extend base layout --> {% extends "base.html" %}  {% block content %}

{% include 'example_info.html' %}

{%  set recipient_form_index = 0 %}
{%  set signer_email_index = 0 %}
{%  set signer_name_index = 1 %}
{%  set cc_email_index = 2 %}
{%  set cc_name_index = 3 %}
{%  set item_index = 4 %}
{%  set quantity_index = 5 %}
{%  set redirect_to8_index = 0 %}

{% if template_ok %}
  <form class="eg" action="" method="post" data-busy="form">
    {% if 'FormName' in example['Forms'][recipient_form_index] %}
        <p>{{ example['Forms'][recipient_form_index]['FormName'] | safe }}</p>
    {% endif %}

    <div class="form-group">
      <label for="signer_email">{{ example['Forms'][recipient_form_index]['Inputs'][signer_email_index]['InputName'] }}</label>
      <input type="email" class="form-control" id="signer_email" name="signer_email"
            aria-describedby="emailHelp" placeholder="{{ example['Forms'][recipient_form_index]['Inputs'][signer_email_index]['InputPlaceholder'] }}" required
            value="{{ signer_email }}">
      <small id="emailHelp" class="form-text text-muted">{{ session['manifest']['SupportingTexts']['HelpingTexts']['EmailWontBeShared'] | safe}}</small>
    </div>
    <div class="form-group">
      <label for="signer_name">{{ example['Forms'][recipient_form_index]['Inputs'][signer_name_index]['InputName'] }}</label>
      <input type="text" class="form-control" id="signer_name" placeholder="{{ example['Forms'][recipient_form_index]['Inputs'][signer_name_index]['InputPlaceholder'] }}" name="signer_name"
            value="{{ signer_name }}" required>
    </div>
    <div class="form-group">
        <label for="cc_email">{{ example['Forms'][recipient_form_index]['Inputs'][cc_email_index]['InputName'] }}</label>
        <input type="email" class="form-control" id="cc_email" name="cc_email"
              aria-describedby="emailHelp" placeholder="{{ example['Forms'][recipient_form_index]['Inputs'][cc_email_index]['InputPlaceholder'] }}" required />
      <small id="emailHelp" class="form-text text-muted">The email for the cc recipient must be different from the signer's email.</small>
    </div>
    <div class="form-group">
      <label for="cc_name">{{ example['Forms'][recipient_form_index]['Inputs'][cc_name_index]['InputName'] }}</label>
      <input type="text" class="form-control" id="cc_name" placeholder="{{ example['Forms'][recipient_form_index]['Inputs'][cc_name_index]['InputPlaceholder'] }}" name="cc_name"
            required>
    </div>
    <p><hr class='styled'/></p>
    <div class="form-group">
      <label for="item">{{ example['Forms'][recipient_form_index]['Inputs'][item_index]['InputName'] }}</label>
      <select id="item" name="item" class="form-control">
        <option>Apples</option>
        <option selected>Avocados</option>
        <option>Oranges</option>
      </select>
    </div>
    <div class="form-group">
      <label for="quantity">{{ example['Forms'][recipient_form_index]['Inputs'][quantity_index]['InputName'] }}</label>
      <select id="quantity" name="quantity" class="form-control">
        <option>10</option>
        <option selected>20</option>
        <option>30</option>
        <option>40</option>
        <option>50</option>
        <option>60</option>
        <option>70</option>
        <option>80</option>
        <option>90</option>
        <option>100</option>
      </select>
    </div>    
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% include 'submit_button.html' %}
  </form>
  
{% else %}
  {{ example['RedirectsToOtherCodeExamples'][redirect_to8_index]['RedirectText'].format('href="eg008"') | safe }}
      
  <form class="eg" action="eg008" method="get">
      {% include 'continue_button.html' %}
  </form>
{% endif %}
    
{% endblock %}
