<!-- extend base layout --> {% extends "base.html" %}  {% block content %}

<h4>Require phone authentication for a recipient</h4>

<p>
  Sends an envelope that requires entering a six-digit code from a text message or phone call for the purpose of multifactor authentication.
</p>
<p>
    The envelope includes a PDF file. Anchor text
    (<a href="https://developers.docusign.com/docs/esign-rest-api/esign101/concepts/tabs/auto-place/">AutoPlace</a>)
    is used to position the signing fields in the documents.
</p>

  {% if show_doc %}
    <p><a target='_blank' href='{{ documentation | safe }}'>Documentation</a> about this example.</p>
  {% endif %}
  

  <p>API method used: 
   <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes:create</a>.
</p>

<p>
    View source file <a target="_blank" href="{{ source_url | safe }}">{{ source_file }}</a> on GitHub.
</p>

{% if workflow_id %}
    <form class="eg" action="" method="post" data-busy="form">
      <div class="form-group">
        <label for="country_code">Signer Country Code</label>
        <input type="tel" class="form-control" id="country_code" name="country_code"
              aria-describedby="accessHelp" placeholder="1" required>
        <small id="accessHelp" class="form-text text-muted">The country code for the phone number below.</small>
      </div>  
      <div class="form-group">
          <label for="phone_number">Signer Phone Number</label>
          <input type="tel" class="form-control" id="phone_number" name="phone_number"
                 aria-describedby="accessHelp" placeholder="4155551212" required>
          <small id="accessHelp" class="form-text text-muted">This phone number will receive a notification. We'll never share your phone number with anyone else.</small>
      </div>
      <div class="form-group">
          <label for="signer_email">Signer Email</label>
          <input type="email" class="form-control" id="signer_email" name="signer_email"
               aria-describedby="emailHelp" placeholder="pat@example.com" required
               value="{{ signer_email }}">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
          <label for="signer_name">Signer Name</label>
          <input type="text" class="form-control" id="signer_name" placeholder="Pat Johnson" name="signer_name"
               value="{{ signer_name }}" required>
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <button type="submit" class="btn btn-docu">Submit</button>
      </form>
{% else %}
      <b>Phone Authentication is available to develop API integrations in the DocuSign Developer account,
      but is not enabled by default. To enable Phone Authentication in your Developer account and/or production account,
      contact <a target='_blank' href='https://support.docusign.com'>Support</a>.</b>
{% endif %}
  
{% endblock %}