<!-- extend base layout -->
{% extends "base.html" %}
{% set title = "Error" %}
{% block content %}

<h2>Problem: an error occurred</h2>
<p>Error information:</p>

{% if error_code %}
  <p>{{ error_code }}: {{ error_message }}</p>
{% else %}
  <p><pre>{{ err }}</pre></p>
{% endif %}

{% if error_code == "IDENTITY_WORKFLOW_INVALID_ID" %}
  <p>Please contact <a target='_blank' href='https://support.docusign.com'>Support</a> to enable recipient phone authentication in your account.</p>
{% endif %}

<p><a href="/">Continue</a></p>
  
{% endblock %}
