<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% if chosen_api == "Monitor" %}
<div style="margin:1% 5%;">
    {{ session["manifest"]["SupportingTexts"]["LoginPage"]["LoginHeader"] | safe }}

  <form method="post" data-busy="form" action={{ url_for("ds.ds_login") }}>
      <div class="form-group col-md-5">
          <select class="form-control" id="auth_type" name="auth_type">
              <option value="jwt">JSON Web Token</option>
          </select>
          <p class="lead" style="padding-top: .5rem;">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <button type="submit" class="btn btn-docu">{{ session["manifest"]["SupportingTexts"]["LoginPage"]["LoginButton"] }}</button>
          </p>
      </div>
  </form>
    <hr class="my-4">
  </div>

{% else %}

    <div style="margin:1% 5%;">
    {{ session["manifest"]["SupportingTexts"]["LoginPage"]["LoginHeader"] | safe }}

    <form method="post" data-busy="form" action={{ url_for("ds.ds_login") }}>
        <div class="form-group col-md-5">
            <select class="form-control" id="auth_type" name="auth_type">
                <option value="code_grant">Authorization Code Grant</option>
                <option value="jwt">JSON Web Token</option>
            </select>
            <p class="lead" style="padding-top: .5rem;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="btn btn-docu">{{ session["manifest"]["SupportingTexts"]["LoginPage"]["LoginButton"] }}</button>
            </p>
        </div>
    </form>
      <hr class="my-4">
    </div>
{% endif %}
{% endblock %}
